/* body */
body {
  font-family: 'Roboto Mono', monospace;
}

/* navbar */
.navbar {
  font-family: 'Roboto Mono', monospace; 
  background: #4c0bd1;
  color: white
}

.button {
  background: #4c0bd1;
  color: white;
  border: none
}

/* login and signup cards */
.login-card {
  background: #fff;
  width: 18em;
  border: none;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  font-family: 'Roboto Mono', monospace;
}

/* login and signup containers */
.login-signup {
  margin-top: 10vh;
  margin-left: 76.5vh;
}

.ls-container {
  background: url('./loginSignup.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-attachment: fixed
}

/* all cards across app */
.card-block {
  background: #fff;
  font-family: 'Roboto Mono', monospace;
  resize: both;
  width: 14em;
  border: none;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  padding-top: 15px;
  padding-bottom: 15px;
  align-content: 'center'
}

.fixed-height-card {
  max-height: 50vh;
  max-width: 31vh;
  margin-right: 1em;
  margin-left: 1em;
  border: 5px solid #4c0bd1;
}

/* create or choose random plan */
.plan-select {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: auto;
  font-family: 'Roboto Mono', monospace;
}

.container-fluid {
  display: inline-block
}

/* homepage choose create or random  */
.choose-plan {
  background: url('./bgtest7.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-attachment: fixed
}

/* link styling */
a {
 font-weight: bold;
 text-decoration: none;
 color: #33CCFF;
}

/* welcome screen styling */
.welcome-container {
  margin: 0px auto;
  background: url('./welcomeBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-attachment: fixed
}

.welcome-buttons {
  margin-left: 50vh
}

/* creating plan */
.plan-select-container {
  overflow-y: scroll;
  margin: auto;
  padding: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  background: url('./planContainerBG.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* selected activities in plan */
.target-activities {
  font-size: 14px;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
}

/* map loading */
.loading-layer {
  background: lightblue;
  font-family: 'Roboto Mono', monospace;
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  align-content: center
}

/* choosing random or create your own plan */
.select-plan {
  font-size: 26px;
  font-family: 'Roboto Mono', monospace; 
  font-weight: bold
}

.subheader {
  font-size: 13px;
  font-weight: normal
}

/* updating font across all app */
#form {
  font-family: 'Roboto Mono', monospace;
}

.correctFont {
  font-family: 'Roboto Mono', monospace;
}

/* welcome screen word scroll */
.slottt-machine-recipe {
  margin: 0px auto;
  width: 700px;
  margin-top: 50px;
}

.slottt-machine-recipe__mask {
    width: 100%;
    height: 150px;
    overflow: hidden; 
    position: relative;
    display: inline-block;
    margin-bottom: -40px;
}

.slottt-machine-recipe__items_container {
    position: absolute;
}

.slottt-machine-recipe__item {
    min-height: 150px;
    max-height: 150px;
    margin: 0px;
    padding: 0px;
    background-size: contain;
}

.recipe_if, .recipe_then {
  font-weight: bold;
  font-size: 80px;
}

.tagline {
  font-weight: normal;
  font-size: 44px;
}

/* align choose cat // activ list // finalize plan with background */
.choose-list-finalize {
  margin-left: 11vh;
  margin-top: 3.5vw
}

/* align create and random plan buttons with background */
.create-align {
  position: fixed;
  left: 25.8vw;
  top: 36.8vh;
}

.random-align {
  position: fixed;
  left: 42.8vw;
  top: 36.8vh;
  height: 50em
}

/* random button card */
.random-card {
  height: 7.25em
}

/* navbar */
.nav-logo {
  font-size: 2em
}

/* plans container background */
.plans-container {
  background: url('./planList.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

/* profile container background */
.user-profile-container {
  background: url('./userProfileContainer.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  background-attachment: fixed
}

.profile-card {
  padding-top: 31.75vh;
}

.user-profile{
  margin-top: -11vh;
  width: 45vh;
  margin-left: 85vh;
  padding-left: 1vh;
  padding-right: 1vh;
  background: transparent;
  box-shadow: none;
  color: white
}